@id("Admin UI authorization policy")
permit (
  principal in Jans::Role::"admin",
  action == Jans::Action::"Execute",
  resource is Jans::Application
);