permit(
  principal in Jans::Role::"admin", 
  action in [Gluu::Action::"Read", Gluu::Action::"Write", Gluu::Action::"Delete"],
  resource in Gluu::Resources::"oidc"
) ;