@id("Admin UI authorization policy")
permit (
  principal is Jans::User,
  action == Jans::Action::"Execute",
  resource
)
when {
  principal.api_protection_token.token_introspection.scope.contains(resource.scope)
};