@id("Admin UI authorization policy")
permit (
  principal in Jans::Role::"api-admin1",
  action in Jans::Action::"Execute",
  resource == Jans::Feature::"https://jans.io/oauth/jans-auth-server/session.readonly"
);