permit (
  principal in Jans::Role::"api-viewer",
  action in Jans::Action::"Execute",
  resource == Jans::Feature::"https://jans.io/oauth/jans-auth-server/client.readonly"
);