@id("Admin UI authorization policy")
permit (
  principal in Gluu::Role::"api-admin",
  action in Gluu::Action::"Execute",
  resource == Gluu::Feature::"https://jans.io/oauth/jans-auth-server/session.readonly"
);