@id("Admin UI authorization policy")
permit (
  principal in Jans::Role::"api-admin3",
  action in Jans::Action::"AttributesReadonly",
  resource is Jans::Application
);