@id("AdminCanManageAuthServerConfiguration")
permit (
  principal in Gluu::Flex::AdminUI::Role::"admin-read",
  action in [Gluu::Flex::AdminUI::Action::"read"],
  resource in Gluu::Flex::AdminUI::Resources::ParentResource::"AuthServerAndConfiguration"
);
@id("AdminCanManageAuthServerConfiguration")
permit (
  principal in Gluu::Flex::AdminUI::Role::"admin-read",
  action in [Gluu::Flex::AdminUI::Action::"read"],
  resource in Gluu::Flex::AdminUI::Resources::ParentResource::"AuthServerAndConfiguration"
);
@id("AdminCanManageAuthServerConfiguration")
permit (
  principal in Gluu::Flex::AdminUI::Role::"admin-read",
  action in [Gluu::Flex::AdminUI::Action::"read"],
  resource in Gluu::Flex::AdminUI::Resources::ParentResource::"AuthServerAndConfiguration"
);
@id("AdminCanManageAuthServerConfiguration")
permit (
  principal in Gluu::Flex::AdminUI::Role::"admin-read",
  action in [Gluu::Flex::AdminUI::Action::"read"],
  resource in Gluu::Flex::AdminUI::Resources::ParentResource::"AuthServerAndConfiguration"
);
@id("AdminCanManageAuthServerConfiguration")
permit (
  principal in Gluu::Flex::AdminUI::Role::"admin-write",
  action in [Gluu::Flex::AdminUI::Action::"read",
  Gluu::Flex::AdminUI::Action::"write"],
  resource in Gluu::Flex::AdminUI::Resources::ParentResource::"AuthServerAndConfiguration"
);
@id("AdminCanManageAuthServerConfiguration")
permit (
  principal in Gluu::Flex::AdminUI::Role::"admin-write",
  action in [Gluu::Flex::AdminUI::Action::"read"],
  resource in Gluu::Flex::AdminUI::Resources::ParentResource::"AuthServerAndConfiguration"
);
@id("AdminCanManageAuthServerConfiguration")
permit (
  principal in Gluu::Flex::AdminUI::Role::"admin-write",
  action in [Gluu::Flex::AdminUI::Action::"read"],
  resource in Gluu::Flex::AdminUI::Resources::ParentResource::"AuthServerAndConfiguration"
);
@id("AdminCanManageAuthServerConfiguration")
permit (
  principal in Gluu::Flex::AdminUI::Role::"admin-write",
  action in [Gluu::Flex::AdminUI::Action::"read"],
  resource in Gluu::Flex::AdminUI::Resources::ParentResource::"AuthServerAndConfiguration"
);
@id("VieweranSeeDashboard")
permit (
  principal in Gluu::Flex::AdminUI::Role::"viewer",
  action == Gluu::Flex::AdminUI::Action::"read",
  resource in Gluu::Flex::AdminUI::Resources::Features::"Dashboard"
);
@id("VieweranSeeMAU")
permit (
  principal in Gluu::Flex::AdminUI::Role::"viewer",
  action in  [Gluu::Flex::AdminUI::Action::"read"],
  resource in Gluu::Flex::AdminUI::Resources::Features::"MAU"
);
@id("ViewerCanSeeSettings")
permit (
  principal in Gluu::Flex::AdminUI::Role::"viewer",
  action in  [Gluu::Flex::AdminUI::Action::"read"],
  resource in Gluu::Flex::AdminUI::Resources::Features::"Settings"
);
@id("ViewerCanSeeWebhooks")
permit (
  principal in Gluu::Flex::AdminUI::Role::"viewer",
  action in  [Gluu::Flex::AdminUI::Action::"read"],
  resource in Gluu::Flex::AdminUI::Resources::Features::"Webhooks"
);
@id("ViewerCanSeeAssests")
permit (
  principal in Gluu::Flex::AdminUI::Role::"viewer",
  action in  [Gluu::Flex::AdminUI::Action::"read"],
  resource in Gluu::Flex::AdminUI::Resources::Features::"Assests"
);
@id("ViewerCanSeeAuditLogs")
permit (
  principal in Gluu::Flex::AdminUI::Role::"viewer",
  action in  [Gluu::Flex::AdminUI::Action::"read"],
  resource in Gluu::Flex::AdminUI::Resources::Features::"AuditLogs"
);
@id("ViewerCanSeeClients")
permit (
  principal in Gluu::Flex::AdminUI::Role::"viewer",
  action in  [Gluu::Flex::AdminUI::Action::"read"],
  resource in Gluu::Flex::AdminUI::Resources::Features::"Clients"
);
@id("ViewerCanSeeKeys")
permit (
  principal in Gluu::Flex::AdminUI::Role::"viewer",
  action in  [Gluu::Flex::AdminUI::Action::"read"],
  resource in Gluu::Flex::AdminUI::Resources::Features::"Keys"
);
@id("ViewerCanSeeAuthenticationServerConfiguration")
permit (
  principal in Gluu::Flex::AdminUI::Role::"viewer",
  action in  [Gluu::Flex::AdminUI::Action::"read"],
  resource in Gluu::Flex::AdminUI::Resources::Features::"AuthenticationServerConfiguration"
);
@id("ViewerCanSeeLogging")
permit (
  principal in Gluu::Flex::AdminUI::Role::"viewer",
  action in  [Gluu::Flex::AdminUI::Action::"read"],
  resource in Gluu::Flex::AdminUI::Resources::Features::"Logging"
);
@id("ViewerCanSeeAuthentication")
permit (
  principal in Gluu::Flex::AdminUI::Role::"viewer",
  action in  [Gluu::Flex::AdminUI::Action::"read"],
  resource in Gluu::Flex::AdminUI::Resources::Features::"Authentication"
);
@id("ViewerCanSeeConfigApiConfiguration")
permit (
  principal in Gluu::Flex::AdminUI::Role::"viewer",
  action in  [Gluu::Flex::AdminUI::Action::"read"],
  resource in Gluu::Flex::AdminUI::Resources::Features::"ConfigApiConfiguration"
);
@id("ViewerCanSeeSesison")
permit (
  principal in Gluu::Flex::AdminUI::Role::"viewer",
  action in  [Gluu::Flex::AdminUI::Action::"read"],
  resource in Gluu::Flex::AdminUI::Resources::Features::"Sesison"
);
@id("ViewerCanSeeUsers")
permit (
  principal in Gluu::Flex::AdminUI::Role::"viewer",
  action in  [Gluu::Flex::AdminUI::Action::"read"],
  resource in Gluu::Flex::AdminUI::Resources::Features::"Users"
);
@id("ViewerCanSeeScripts")
permit (
  principal in Gluu::Flex::AdminUI::Role::"viewer",
  action in  [Gluu::Flex::AdminUI::Action::"read"],
  resource in Gluu::Flex::AdminUI::Resources::Features::"Scripts"
);
@id("ViewerCanSeeAttributes")
permit (
  principal in Gluu::Flex::AdminUI::Role::"viewer",
  action in  [Gluu::Flex::AdminUI::Action::"read"],
  resource in Gluu::Flex::AdminUI::Resources::Features::"Attributes"
);
@id("ViewerCanSeeCache")
permit (
  principal in Gluu::Flex::AdminUI::Role::"viewer",
  action in  [Gluu::Flex::AdminUI::Action::"read"],
  resource in Gluu::Flex::AdminUI::Resources::Features::"Cache"
);
@id("ViewerCanSeePersistance")
permit (
  principal in Gluu::Flex::AdminUI::Role::"viewer",
  action in  [Gluu::Flex::AdminUI::Action::"read"],
  resource in Gluu::Flex::AdminUI::Resources::Features::"Persistance"
);
@id("ViewerCanSeeSMTP")
permit (
  principal in Gluu::Flex::AdminUI::Role::"viewer",
  action in  [Gluu::Flex::AdminUI::Action::"read"],
  resource in Gluu::Flex::AdminUI::Resources::Features::"SMTP"
);
@id("ViewerCanSeeSCIM")
permit (
  principal in Gluu::Flex::AdminUI::Role::"viewer",
  action in  [Gluu::Flex::AdminUI::Action::"read"],
  resource in Gluu::Flex::AdminUI::Resources::Features::"SCIM"
);
@id("ViewerCanSeeFIDO")
permit (
  principal in Gluu::Flex::AdminUI::Role::"viewer",
  action in  [Gluu::Flex::AdminUI::Action::"read"],
  resource in Gluu::Flex::AdminUI::Resources::Features::"FIDO"
);
@id("ViewerCanSeeSAML")
permit (
  principal in Gluu::Flex::AdminUI::Role::"viewer",
  action in  [Gluu::Flex::AdminUI::Action::"read"],
  resource in Gluu::Flex::AdminUI::Resources::Features::"SAML"
);
@id("ViewerCanSeeLock")
permit (
  principal in Gluu::Flex::AdminUI::Role::"viewer",
  action in  [Gluu::Flex::AdminUI::Action::"read"],
  resource in Gluu::Flex::AdminUI::Resources::Features::"Lock"
);
@id("ViewerCanSeeSecurity")
permit (
  principal in Gluu::Flex::AdminUI::Role::"viewer",
  action in  [Gluu::Flex::AdminUI::Action::"read"],
  resource in Gluu::Flex::AdminUI::Resources::Features::"Security"
);
@id("ViewerCanWriteSecurity")
permit (
  principal in Gluu::Flex::AdminUI::Role::"viewer",
  action in  [Gluu::Flex::AdminUI::Action::"read"],
  resource in Gluu::Flex::AdminUI::Resources::Features::"Security"
);
@id("editorCanWriteSettings")
permit (
  principal in Gluu::Flex::AdminUI::Role::"editor",
  action in  [Gluu::Flex::AdminUI::Action::"read",
  Gluu::Flex::AdminUI::Action::"write"],
  resource in Gluu::Flex::AdminUI::Resources::Features::"Settings"
);
@id("editorCanWriteWebhooks")
permit (
  principal in Gluu::Flex::AdminUI::Role::"editor",
  action in  [Gluu::Flex::AdminUI::Action::"read",
  Gluu::Flex::AdminUI::Action::"write"],
  resource in Gluu::Flex::AdminUI::Resources::Features::"Webhooks"
);
@id("editorCanWriteAssets")
permit (
  principal in Gluu::Flex::AdminUI::Role::"editor",
  action in  [Gluu::Flex::AdminUI::Action::"read",
  Gluu::Flex::AdminUI::Action::"write"],
  resource in Gluu::Flex::AdminUI::Resources::Features::"Assets"
);
@id("editorCanSWriteAuditLogs")
permit (
  principal in Gluu::Flex::AdminUI::Role::"editor",
  action in  [Gluu::Flex::AdminUI::Action::"read",
  Gluu::Flex::AdminUI::Action::"write"],
  resource in Gluu::Flex::AdminUI::Resources::Features::"AuditLogs"
);
@id("editorCanWriteClients")
permit (
  principal in Gluu::Flex::AdminUI::Role::"editor",
  action in  [Gluu::Flex::AdminUI::Action::"read",
  Gluu::Flex::AdminUI::Action::"write"],
  resource in Gluu::Flex::AdminUI::Resources::Features::"Clients"
);
@id("editorCanWriteKeys")
permit (
  principal in Gluu::Flex::AdminUI::Role::"editor",
  action in  [Gluu::Flex::AdminUI::Action::"read",
  Gluu::Flex::AdminUI::Action::"write"],
  resource in Gluu::Flex::AdminUI::Resources::Features::"Keys"
);
@id("editorCanWriteAuthenticationServerConfiguration")
permit (
  principal in Gluu::Flex::AdminUI::Role::"editor",
  action in  [Gluu::Flex::AdminUI::Action::"read",
  Gluu::Flex::AdminUI::Action::"write"],
  resource in Gluu::Flex::AdminUI::Resources::Features::"AuthenticationServerConfiguration"
);
@id("editorCanWriteLogging")
permit (
  principal in Gluu::Flex::AdminUI::Role::"editor",
  action in  [Gluu::Flex::AdminUI::Action::"read",
  Gluu::Flex::AdminUI::Action::"write"],
  resource in Gluu::Flex::AdminUI::Resources::Features::"Logging"
);
@id("editorCanWriteAuthentication")
permit (
  principal in Gluu::Flex::AdminUI::Role::"editor",
  action in  [Gluu::Flex::AdminUI::Action::"read",
  Gluu::Flex::AdminUI::Action::"write"],
  resource in Gluu::Flex::AdminUI::Resources::Features::"Authentication"
);
@id("editorCanWriteConfigApiConfiguration")
permit (
  principal in Gluu::Flex::AdminUI::Role::"editor",
  action in  [Gluu::Flex::AdminUI::Action::"read",
  Gluu::Flex::AdminUI::Action::"write"],
  resource in Gluu::Flex::AdminUI::Resources::Features::"ConfigApiConfiguration"
);
@id("editorCanWriteSession")
permit (
  principal in Gluu::Flex::AdminUI::Role::"editor",
  action in  [Gluu::Flex::AdminUI::Action::"read",
  Gluu::Flex::AdminUI::Action::"write"],
  resource in Gluu::Flex::AdminUI::Resources::Features::"Session"
);
@id("editorCanWriteUsers")
permit (
  principal in Gluu::Flex::AdminUI::Role::"editor",
  action in  [Gluu::Flex::AdminUI::Action::"read",
  Gluu::Flex::AdminUI::Action::"write"],
  resource in Gluu::Flex::AdminUI::Resources::Features::"Users"
);
@id("editorCanWriteScripts")
permit (
  principal in Gluu::Flex::AdminUI::Role::"editor",
  action in  [Gluu::Flex::AdminUI::Action::"read",
  Gluu::Flex::AdminUI::Action::"write"],
  resource in Gluu::Flex::AdminUI::Resources::Features::"Scripts"
);
@id("editorCanWriteAttributes")
permit (
  principal in Gluu::Flex::AdminUI::Role::"editor",
  action in  [Gluu::Flex::AdminUI::Action::"read",
  Gluu::Flex::AdminUI::Action::"write"],
  resource in Gluu::Flex::AdminUI::Resources::Features::"Attributes"
);
@id("editorCanWriteCache")
permit (
  principal in Gluu::Flex::AdminUI::Role::"editor",
  action in  [Gluu::Flex::AdminUI::Action::"read",
  Gluu::Flex::AdminUI::Action::"write"],
  resource in Gluu::Flex::AdminUI::Resources::Features::"Cache"
);
@id("editorCanWritePersistence")
permit (
  principal in Gluu::Flex::AdminUI::Role::"editor",
  action in  [Gluu::Flex::AdminUI::Action::"read",
  Gluu::Flex::AdminUI::Action::"write"],
  resource in Gluu::Flex::AdminUI::Resources::Features::"Persistence"
);
@id("editorCanWriteSMTP")
permit (
  principal in Gluu::Flex::AdminUI::Role::"editor",
  action in  [Gluu::Flex::AdminUI::Action::"read",
  Gluu::Flex::AdminUI::Action::"write"],
  resource in Gluu::Flex::AdminUI::Resources::Features::"SMTP"
);
@id("editorCanWriteSCIM")
permit (
  principal in Gluu::Flex::AdminUI::Role::"editor",
  action in  [Gluu::Flex::AdminUI::Action::"read",
  Gluu::Flex::AdminUI::Action::"write"],
  resource in Gluu::Flex::AdminUI::Resources::Features::"SCIM"
);
@id("editorCanWriteFIDO")
permit (
  principal in Gluu::Flex::AdminUI::Role::"editor",
  action in  [Gluu::Flex::AdminUI::Action::"read",
  Gluu::Flex::AdminUI::Action::"write"],
  resource in Gluu::Flex::AdminUI::Resources::Features::"FIDO"
);
@id("editorCanWriteSAML")
permit (
  principal in Gluu::Flex::AdminUI::Role::"editor",
  action in  [Gluu::Flex::AdminUI::Action::"read",
  Gluu::Flex::AdminUI::Action::"write"],
  resource in Gluu::Flex::AdminUI::Resources::Features::"SAML"
);
@id("editorCanWriteLock")
permit (
  principal in Gluu::Flex::AdminUI::Role::"editor",
  action in  [Gluu::Flex::AdminUI::Action::"read",
  Gluu::Flex::AdminUI::Action::"write"],
  resource in Gluu::Flex::AdminUI::Resources::Features::"Lock"
);
@id("editorCanWriteSecurity")
permit (
  principal in Gluu::Flex::AdminUI::Role::"editor",
  action in  [Gluu::Flex::AdminUI::Action::"read",
  Gluu::Flex::AdminUI::Action::"write"],
  resource in Gluu::Flex::AdminUI::Resources::Features::"Security"
);